// Brand and style colors
$light-text-color=          hsl(0, 0%, 70%)
$text-color=                hsl(0, 0%, 30%)
$dark-text-color=           hsl(0, 0%, 10%)
$brand-color=               #00ADF5
$brand-background-color=    #fff
$dark-brand-color=          darken($brand-color,20)
$darker-brand-color=        darken($brand-color, 50)
$background-color=          hsl(0, 0%, 92%)
$dark-background-color=     rgb(5,5,5)

// Animation custom ease
$super-ease-out=            cubic-bezier(0,.60,0,1)
$bounce=   _var                 cubic-bezier(0.175, 0.885, 0.32, 1.275)

// Our custom break points (matches values of Bootstrap 3)
phone=                     "(min-width: 480px)"
tablet=                    "(min-width: 768px)"
laptop=                    "(min-width: 992px)"
desktop=                   "(min-width: 1200px)"

// So media queries don't overlap when required, provide a maximum
phone-small=               "(max-width: 340px)"
phone-max=                 "(max-width: 480px)"
tablet-max=                "(max-width: 767px)"
laptop-max=                "(max-width: 991px)"
desktop-max=               "(max-width: 1199px)"

portrait=                  "(orientation:portrait)"
landscape=                 "(orientation:landscape)"