// try to keep this file about block level elements and their high level/overall usage as a component
figure, nav, header, section, article
  position:relative

h1,h2,h3,h4,h5,h6
  @extend .font-normal

h1 > .icon
  top:0.25rem

a
  text-decoration:none
  &.light
    color:white
    &:active
      color:$brand-color
  &.dark
    color:$dark-text-color
    &:active
      color:$brand-color
  &:active
    color:$brand-color

img
  max-width: 100%
  height:auto
  vertical-align:middle

input,
button,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

nav
  position:fixed
  left:0
  right:0
  top:0
  width: 100%
  z-index: 10000
  font-size:2rem
  > .state
    padding:4px
    @media laptop
      padding:2rem
    transition:all 0.2s ease

header
  > p
    margin:0

article
  padding:2rem
  @extend .clearfix
  > footer
    margin:12rem 0 4rem

figure
  @extend .text-center
  @extend .no-callout
  margin:0
  > img
    width:100%

figcaption
  text-align:center
  font-size:1.75rem
  @extend .font-thin
  padding:1rem 0
  color:$dark-text-color
  border:2px solid hsl(0, 0%, 90%)
  border-top:none
  // background-color:hsla(0,0%,0%,0.5)
  // background:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8))
  > p
    padding:0 1rem
    margin:0
  > h3
    margin:0

dl b
  letter-spacing:0
dt.list-title
  margin-bottom:0.25rem
  font-size:1.1rem
