@keyframes eye-blink
  0%
    transform: rotateX(0)
  96%
    transform: rotateX(0)
  97%
    transform: rotateX(70deg)
  99%
    transform: rotateX(70deg)
  100%
    transform: rotateX(0)

@keyframes bounce-down
  0%
    transform: translateY(0)
  50%
    transform: translateY(8px)
  100%
    transform: translateY(0)
    
@keyframes look-left
  0%
    left: 55px
  80%
    left: 55px
  81%
    left: 52px
  99%
    left: 52px
  100%
    left: 55px