.text-center
  img(src='assets/images/projects/dieantsdie-level3.png')
  h5 Kill the ants before the time runs out!
p.text-center
  a.btn.light(href='http://appworld.blackberry.com/webstore/content/37167/?lang=en&countrycode=US', '_blank') 
    | View in Blackberry App World
  br
  a.btn.light.push-top(href='https://play.google.com/store/apps/details?id=air.DieBugsDie', '_blank')
    | View in Android Play Store

p Die Ants Die!, was a game created after a type of interaction that I wanted to have in the gameplay. I wanted users to frantically tap the screen, in attempts to touch something that was all over, and very particle like. I also need the game to be simple, because it was very ambitious for me at the time, in code complexity. Ants seemed like a logical thing that would be crawling on a screen, and people don't like them either. Making it not such a bad idea to frantically kill the ants.
p I took it a little too far though, which it needed to be. Otherwise it's something you can do outside, without a tablet. So the ants squirt blood when they die, and also fart... You can turn both off, but hey, it makes it even more rewarding to kill ants when they fart and squirt blood.

.text-center
  img(src='assets/images/projects/dieantsdie.png')
  h5 Screenshot from the web app

p With the help of a friend, who programmed the ant intelligence, I sought out to design and develope my own game. Turns out to be a lot of work. Level design, Ui design, game flow, sounds, etc. I learned a ton putting this together. Then on top of that, testing it on mobile, and trusting Adobe Flash. 
p Each ant is made up of each body part, which I randomly separate when killed. The legs move in a newer prototype as well, so they look even more like theyre crawling. I used Photoshop for the artwork, so I went for a skeumorphic type Ui theme. Lots of textures, and realistic items.
p I ended up releasing the game on several platforms though, with Flash and Flex: Web, Facebook App, iOS, Android, and Blackberry. The Flash game creation ran best on Blackberry, so it's the only platform I've kept up to date. It's a responsive game too, the textures and ants are smart about screen size. The game is .99 on there, and I make a few bucks a month on it. I learned a good lesson about ActionScript and Flash as a future platform. 