.text-center
  img(src='assets/images/projects/nextissue-home.png')
  h5 App homescreen

p I loved working on this Windows 8 app. The HTML/CSS were challenging enough, then to toss it all into WinJS, madness. But I got it done. The first version of the renderer was done with kitten pictures lol, then I moved it out of prototype to production. The final result is very cool animated too, since the shadows follow along with scale animations. 

p It's insanse to think the horizontal list you see in these 2 pictures, is virtualized. Even the surface 1 can draw this list. The list could be 1000 items long, and the Surface wouldn't care. Personally, I always made Javascript renderers, I found them to be faster and provide me with more compile time control. 

.text-center
  img(src='assets/images/projects/nextissue-semantic.png')
  h5 Semantic zoom

p There's one part of the project I don't have a picture for here, but it was the 2nd most intense thing I had to do at Ratio for Windows 8. This one was a 3d carousel flipper control, like Apple makes. Next Issue wanted the same thing they had on their iPad, on Windows 8. This was a crazy challenge.
p I went through 3-5 prototypes, each with their own strengths. 1 had virtualized content, so it scrolled super smooth, but wasn't 3d. The next best was exactly like the iPad version, but scrolling felt messy, especially with long lists. This particular component got me to be really good friends with Request Animation Frame. I feel like I can do anything with that now. 