doctype html
html
  include includes/head
  body
    include includes/nav
    #pagewrap.pagewrap
      .page.show
        section#home.container
          include includes/header

          .title
            h1 My Work
            p.subline Devigner: Developer += Designer
            .pageload-link Show Page Loader
          article.content
            div
              include includes/grid
            .pageload-link Show Page Loader

      .page
        section#project.container
          //- filled from project.jade template

  include includes/loader
  include includes/scripts
