extends _jade/layouts/page

block content
  include _jade/includes/nav

  #pagewrap.pagewrap
    .page.show
      section#home.wrapper
        include _jade/includes/header

        article.content: div: section.grid-wrap
          ul#grid.grid.swipe-down
            include _jade/includes/me
            include _jade/includes/projects

    .page
      section#project.wrapper

  include _jade/includes/loader
