doctype html
html
  include includes/head
  body
    include includes/nav
    #pagewrap.pagewrap
      .page.show
        section#home.container
          include includes/header

          .title
            h1 Left & Right Brained Developer what?
            p.subline Web App Fanboy, Mobile Web Ui/UX Engineering Specialist
          article.content
            div
              include includes/grid

      .page
        section#project.container
          //- filled from project.jade template

  include includes/loader
  include includes/scripts
