doctype html
html
  include includes/head
  body
    include includes/nav
    //- include includes/header
    #container.container.intro-effect-push
      header.header
        .bg-img
          img(src='img/1.jpg')
        .title
          img.logo(src='img/logo.jpg')
          h1 Left & Right Brained

    include includes/grid

  include includes/scripts
