li.title-box
  .row
    .col-xs-4
      img(src='assets/images/bro-avatar.svg', style='max-height:325px')
      #eye-one.eye
      #eye-two.eye
    .col-xs-8
      a.no-cursor
        h1 Hi! 
        h2 I'm Adam Argyle
        h4 Ui/UX Web Engineer
        h3.hint-text
          i.fa.fa-html5(title='HTML5')
          i.fa.fa-fw.fa-css3(title='CSS3')
          i.fa.fa-fw.fa-git(title='Git Version Control')
          i.fa.fa-fw.fa-apple(title='iOS Apps')
          i.fa.fa-fw.fa-android(title='Android Apps')
          i.fa.fa-fw.fa-windows(title='Windows Phone and Windows 8 Apps')
        dl 
          dt.list-title
            b I Enjoy:
          dt Rapid Prototyping
          dt Hitting 60fps
          dt Animating Interfaces
          dt Javascript
          dt HTML5 Single page apps
          dt Jade & Stylus
          dt Hacking full-stack, gimme MySQL
          dt &nbsp;
          dt.list-title
            b I Can Also:
          dt 
            b Build: 
            | Node, WinJS, & webOS apps
          dt 
            b Write: 
            | Python, Java, C#, & AS2/3
          dt 
            b Compile: 
            | Less, SASS, Stylus, etc