nav
  .row.default.state
    .col-xs-4.text-left
      .rap
        a.light(href='https://github.com/argyleink', title='Github', target='_blank') 
          i.fa.fa-github-alt
    .col-xs-4.col-xs-offset-4.text-right
      .rap
        a.light(href='mailto:atom@argyleink.com', title='Say Hi') 
          i.fa.fa-envelope-o

  .row.end-xs.detail.state.hidden
    .col-auto
      a.close-article.light.no-callout.text-right
        span.hidden-xs 
          | Close 
        i.fa.fa-times