@require "../base/_vars"

.bg-video
  &.bg-img
    background: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../assets/video/autoplay-fallback.png") no-repeat center center
    background-size: cover, cover
    position fixed
  > video
    display none
    
#white-cover
  display none
