p
  | This was one of those projects where you've been eye-balling a bunch of tools, and wondering if you could combine them all together. One of those projects was 
  a(href='https://github.com/yyx990803/HTML5-Clear') Evan You's 
  | HTML5 local storage implementation. Then of course, gotta throw in some 
  a(href='http://fortawesome.github.io/Font-Awesome/') Font Awesome 
  | icons.
p 
  | This code runs on node 0.6, mongodb, mongoskin, jquery. Adding, updating, and removing items are the only server interactions. When the app loads, mongo is queried for the employee data list. I ran this project on 
  a(href='https://c9.io/') Cloud9 
  | , it was a fun development environment for this project.
.text-center
  img(src='img/projects/clear-detail.png')
p
  | I learned a lot from reading the javascript this guy wrote. At the time it was over my head. He inspired alot of the way I do my javascript modules now. 