.text-center
  img(src='img/projects/film-home.png')
  h5 Home page, ready for full screen ad takeovers, and pre/post roll video
p Nathan Broyles and I built this web site for MTV's Film.com. We both had been building websites for a while, but nothing that had as much PHP logic as this one did.
.text-center
  img(src='img/projects/film-video.png')
  h5 All of this is controlled by Wordpress with lots of custom additions
p I remember making a video player that took pre/post roll video ads, custom chosen from the Wordpress post page. Flash video was served baby, HTML5 video wasn't out yet. I watched the trailer for Bio Shock 3 like 1000 times building that player. It was interesting having PHP print Javascript, so the vars could be dynamic. 2 loose type languages together, a very difficult to code combo.
.text-center
  img(src='img/projects/film-article.png')
  h5 Authors get a nice highlight in their posts
p Authors play an important role in this Wordpress implementation, where in others they don't as much. This site also required a custom search and filter method be created, with archival pagination. That was fun to build. 