.text-center
  img(src='img/projects/film-home.png')
  h5 Home page, ready for full screen ad takeovers, and pre/post roll video

.text-center
  img(src='img/projects/film-video.png')
  h5 All of this is controlled by Wordpress with lots of custom additions

.text-center
  img(src='img/projects/film-article.png')
  h5 Authors get a nice highlight in their posts