.text-center
  img(src='img/projects/icookbook.png')
  h5 Windows 8 - Recipe Detail

p iCookbook for iPad was my first introduction to hybird app architecture. Essentially the whole store front, where purchases and in-app purchase content was available. Long time ago now, but I remember writing responsive code for portrait and landscape. Lots of hacks to make it work for iOS, but this was when webview's were brand new.

p Later, I needed to make it work for iPhone too, same code. Really good learning though, since this was my first store front, that needed to work well on both phone and tablet. Got me really good at mobile testing tools, remote debugging, and mobile CSS quarks. 

.text-center
  img(src='img/projects/icookbook-cross.png')
  h5 All the platforms the hybrid app worked on

p Not short after the iPhone release of iCookbook, was the Android release, which used the same code for it's store. Mobile and tablet, again, working out the kinks in mobile browsers. Being thrown into the fire can help you grow fast though.

p iCookbook wasn't done going digital though, which is super smart. They then branched onto HP's webOS platform, and asked us to build it. WebOS was all web, and had a Javascript app making architecture. There was essentially no HTML, just Javascript components and CSS. Very interesting choice of tools by HP. 

.text-center
  img(src='img/projects/icookbook-surface.png')
  h5 App on the surface

p Finally, the app was made for Windows 8, and boy did it shine. This was the best design and implementation of iCookbook that we built. Fast, great images, worked in the Kitchen well. Built with HTML, CSS, and WinJS/Javascript, this app came together really quick, and has many crucial features.  