.text-center
  img(src='img/projects/icookbook.png')
  h5 Windows 8 - Recipe Detail

.text-center
  img(src='img/projects/icookbook-cross.png')
  h5 All the platforms the hybrid app worked on

.text-center
  img(src='img/projects/icookbook-surface.png')
  h5 App on the surface