p The Storyville project at Ratio Interactive started as a CMS build on .NET for their coffee sales. They wanted to tracks purchases made by users, report on orders, keep information streams on various aspects of their company. So we built that.
p Then they wanted it to work on their iPads. So we updated it.
p Then, they wanted us again, this time to build a comsumer facing website to sell products on. Boom, so we did that. The 2010 full meal deal website/webapp software solution. Turned out lovely I thought.