p 
  b The game premise: 
  | Two developers are working on a project for some lame company, when all of a sudden, they get sucked into their app, just like Tron. Once inside, they only have a few weapons, but they need to take out all the bugs. Line by line they jump, finding bugs and taking them out. Each level had more lines, each level had more bugs.
.text-center
  img(src='img/projects/syntaxbros-level.png')
p So basically it was like a casual action platformer, built upon the nerdy love of code and gaming. But no code frameworks, no audio libraries, nothing. We made it all from scratch. 