p Uber Cute Baby Animals was born from South Park and some experiments I had been doing at work with the WinJS ListView component. There was a South Park episode where some kids won a video competition by showing a series of "animals up close through a wide angle lens." It was hilarious, and true, who can resist cute animals? Windows 8 was still new, and I thought to myself, low hanging fruit, I should be the first baby animals app on Windows 8.  
.text-center
  img(src='img/projects/ubercute-store.png')
  h5 Screenshot of app in the Windows 8 App Store

p I went for a flat Ui type style, which I don't think clashes with the streamlined and minimal Ui of Windows 8. I also have rounded corners (oh no! not in Win8!). Yes, I went there, and did it. One of the joys of being the developer and designer of an app.
p The home screen is a super cool advanced renderer. Tells you how many total items in the collection, how many are new (checks local storage), and shows a recent 4. Each image has an animation as it completes loading. Clicking See All takes you to everything in the collection, clicking New shows you just the new ones filtered from the collection, and clicking a photo will take you to the detail of that picture.
.text-center
  img(src='img/projects/ubercute-home.png')
  h5 Homescreen is hubs of most recent baby pics from each type

p Architecturally, the app follows Windows 8 very closely. First view in the app is a summary of each group of items. Pinch and see just the groups (semantic zoom). Click group headers to see the collection, and click an item to see the item detail. A cool paradigm for data navigation. 

.text-center
  img(src='img/projects/ubercute-detail.png')
  h5 This is with the options nav open, otherwise it's just the photo and a caption. Simple. Content focused.

p The detail view uses the FlipView component, which is a virtualized content slider. The Windows 8 HTML5 and WinJS components, once wrangled, really could have some powerful output.

.text-center
  img(src='img/projects/ubercute-semantic.png')
  h5 Semantic zoom