.grid-wrap
  clear: both
  margin: 0 auto
  padding: 0
  max-width: 1260px

.grid
  margin: 30px auto
  padding: 0
  list-style: none
  min-height: 500px

.grid > li
  @extend .no-callout
  display: inline-block
  overflow: hidden
  text-align: left
  vertical-align: top
  width:325px
  @media phone-max
    width: 100%

  &.social 
    .row
      background-color:brand-color
      height:100%
    h1
      background:white
      margin:0
      padding:0.25em 0 1em
      color:light-text-color
  &.message
    > a
      background-color:light-text-color
      color:white
      padding:1rem
      text-align:center
    p
      margin-top:1rem
      font-weight:normal

.js .grid > li
  display: none
  float: left

.js .grid.loaded > li
  display: block

.social-icon
  font-size:10rem

/* Title box */
.title-box a
  color: dark-text-color

.title-box h4,
.title-box h3,
.title-box h2,
.title-box h1
  padding:0
  margin:0

.title-box h1
  font-size:4rem
  position:relative
  left:-2px

.title-box h2
  font-size:2rem
  display: block

/* Anchor and image */
.grid > li > a,
.grid > li img
  display: block
  outline: none
  border: none

.grid > li > a
  position: relative
  overflow: hidden
  margin: 0.5rem

/* Curtain element */
.grid .curtain
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background: #96cdc8

.grid.swipe-down .curtain
  transform: translate3d(0,-101%,0)

/* Shadow */
.grid .curtain::after
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,1)
  content: ''

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after
  left: -100%

.grid.swipe-down .curtain::after
  top: -100%

/* Title */
.grid > li figcaption
  transition: transform 0.2s, color 0.2s

/* Pseudo element for hover effect */
.grid > li > a::before
  position: absolute
  top: 0
  left: 0
  width: 100.5%
  height: 100.5%
  border: 0px solid transparent
  background: rgba(0,0,0,0)
  content: ''
  transition: border-width 0.2s, border-color 0.2s

/* Hover effects */
// .grid > li.shown > a > img
//   transition: transform 10s ease
// .grid > li.shown:hover > a > img
//   transform: scale3d(1.1,1.1,1)

/* Animations */

/* Swipe down */
.grid.swipe-down li.animate .curtain
  animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards

@keyframes swipeDown
  0% {}
  50%, 60% { transform: translate(0) }
  100% { transform: translate3d(0,100%,0) }

/* Shadow */
.grid > li.animate .curtain::after
  animation: fadeOut 1.5s ease forwards
  animation-delay: inherit

@keyframes fadeOut
  0% {}
  50%, 60% { opacity: 1 }
  100% { opacity: 0 }

/* Hide image and title and show at half time */
.js .grid > li img,
.js .grid > li figcaption
  visibility: hidden

.grid > li.animate img,
.grid > li.animate figcaption
  animation: showMe 1.5s step-end forwards

@keyframes showMe
  from { visibility: hidden }
  99%, 100% { visibility: visible }

.grid > li.shown img,
.grid > li.shown figcaption
  visibility: visible
