@import 'vars'
@import 'nib'

.bg-video
  &.bg-img
    background: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../img/video/autoplay-fallback.png") no-repeat center center
    background-size: cover, cover
    position fixed
  > video
    display none
.project-img
  background-size:auto