.page
  display none
  &.show
    display block

.pageload-overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  visibility hidden
  z-index 1000
  &.show
    visibility visible
  svg
    position absolute
    top 0
    left 0
    pointer-events none
    path
      fill hsl(0,0%,95%)
  &::after
    background brand-color
    transform translateX(-20px)
    animation moveRight 0.6s linear infinite alternate
  &::before
    background dark-text-color
    transform translateX(20px)
    animation moveLeft 0.6s linear infinite alternate

.pageload-overlay::after,
.pageload-overlay::before
  content ''
  position fixed
  width 20px
  height 20px
  top 50%
  left 50%
  margin -10px 0 0 -10px
  border-radius 50%
  visibility hidden
  opacity 0
  z-index 1000
  transition opacity 0.15s, visibility 0s 0.15s

@keyframes moveRight
  to 
    transform translateX(20px)
@keyframes moveLeft
  to 
    transform translateX(-20px)
  
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before
  opacity 1
  visibility visible
  transition opacity 0.3s
