header.header
  .bg-img
  .title
    img.logo(src='img/argyle-ink.png')
      
#projects.directions.text-center
  .row.center-hand
    .column-3-hand
      .trigger.btn.light
        span.fa.fa-database
        |  Projects
      br
      i.fa.fa-3x.fa-angle-down