header.header
  .bg-img.bg-video
    video(src='/img/video/ink1.mov', autoplay='true')
  .title
    img.logo(src='img/argyle-ink.png')
      
#projects.directions.text-center
  .row.center-hand
    .column-8-hand.column-3-lap
      .trigger.btn.light
        span.fa.fa-th
        |  Projects
      br
      i.fa.fa-3x.fa-angle-down