header.header
  .bg-img
  .title
    h1 Left & Right Brained Developer what?
    h2 Web App Fanboy, Mobile Web Ui/UX Engineering Specialist
    h3
      a.light(href="#") 
        i.fa.fa-envelope-o.fa-fw
        | Say Hi
#projects.row.directions.text-center.center-hand
  .column-3-hand
    .trigger.btn.light Peep Projects
    br
    i.fa.fa-3x.fa-angle-down