//- header.text-center
//-   img.logo(src='img/logo.jpg')
//-   p Helping make the web look cool
header.header
  .bg-img
  .title
    img.logo(src='img/logo.jpg')
    h1 Left & Right Brained
.directions.text-center
  .trigger.btn.light Peep Me
  br
  i.fa.fa-3x.fa-angle-down