nav
  .row.default.state
    .column-4-hand.text-left
      .rap
        a.light(href='https://github.com/argyleink', title='Github', target='_blank') 
          i.fa.fa-github-alt
    .column-4-hand.offset-4-hand.text-right
      .rap
        a.light(href='mailto:atom@argyleink.com', title='Say Hi') 
          i.fa.fa-envelope-o

  .row.end-hand.detail.state.hidden
    .column-6-hand
      a.close-article.light.no-callout.text-right
        span.hidden-hand 
          | Close 
        i.fa.fa-times