nav
  //- .row.default.state.center-hand
  //-   .column-4-hand.offset-8-hand
  //-     a(href="/")
  //-       img.logo(src='img/argyle-ink.png')

  //- .row.detail.state.hidden
  //-   .column-6-hand
  //-     a(href="#") Back