nav
  .row.end-hand.default.state
    .column-4-hand.text-right
      a.light(href="#") 
        span.hidden-hand Contact 
        i.fa.fa-envelope-o.fa-fw(title='Say Hi')

  .row.detail.state.hidden
    .column-6-hand
      #close-article.light.no-callout
        i.fa.fa-times
        span.hidden-hand 
          |  Back