nav
  .row.default.state
    .column-6-hand
      a(href="#") Projects
    .column-6-hand.text-right
      a(href="#") Resume
  //- .row.detail.state.hidden
  //-   .column-6-hand
  //-     a(href="#") Back