header.header
  .bg-img
  .title
    h1 Template Catch Phrase
    h2 Small Talk
    h3
      a.light(href="#") 
        i.fa.fa-envelope-o.fa-fw
        | Say Hi
#read.row.directions.text-center.center-hand
  .column-3-hand
    .trigger.btn.light Read
    br
    i.fa.fa-3x.fa-angle-down

.title
  h1 Project Title
  p.subline Project sub title
  .pageload-link Show Page Loader

article.content
  .row.center-hand
    .column-10-hand.text-left
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      p Let's Begin
      .pageload-link Show Page Loader